# Bases de datos creadas por el programa
*.db

# Archivos generados por el pipeline
data/outputs/
data/processed/

# Archivos CSV/JSON/PARQUET generados
*.csv
*.json
*.parquet

# Entorno virtual
.venv/

# Cachés de Python
__pycache__/
*.pyc
